.intro{
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.intro h1{
  font-size: 70px;
}


.intro p{
  font-size: 25px;
}

.selection{
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.selection select{
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  text-align: center;
  font-size: 30px;
  border-style: none;
  cursor: pointer;
}


.grid {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  gap: 20px;
  padding-top: 0px;
  overflow-x: scroll; /* Permet le défilement horizontal */
  overflow-y: hidden;
}

.grid::-webkit-scrollbar {
  height: 10px; /*Hauteur de la barre de défilement horizontale */
}

.grid::-webkit-scrollbar-thumb {
  background-color: #888; /* Couleur de la "poignée" de la barre de défilement */
  border-radius: 10px; /* Coins arrondis de la "poignée" */
}

.grid::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Couleur de la "poignée" au survol */
  cursor: pointer;
}

.grid::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Couleur de la piste de la barre de défilement */
}

.card {
  min-width: 300px; /* Largeur minimale pour les cartes */
  height: 160px; /* Hauteur fixe pour les cartes */
  align-items: center;
  text-align: center;
  background-size: cover;
  border-radius: 8px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.596);
  text-shadow: 1px 1px 2px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  .card h2 {
    height: 30px;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .card p {
    margin-top: 25px;
    color: white;
    border-radius: 5px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
  }
  
  .boutton{
    width: 200px;
    height: 40px;
    margin-top: 25px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.852);
  }

  .boutton:hover{
    transform: scale(1.1);
    transition: all 0.2s;
    background-color: black;
    color: white;
  }
